<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eb38c899-048c-40b7-82a5-3d62414ce340/resourcegroups/mis-421-assignment-2-jquery-and-ajax-TylerShipley20230216231ResourceGroup/providers/Microsoft.Web/sites/mis-421-assignment-2-jquery-and-ajax-TylerShipley20230216231</ResourceId>
    <ResourceGroup>mis-421-assignment-2-jquery-and-ajax-TylerShipley20230216231ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mis-421-assignment-2-jquery-and-ajax-tylershipley20230216231.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3d26ee0d-50f7-4694-9161-fbe0871bcc3b</ProjectGuid>
    <MSDeployServiceURL>mis-421-assignment-2-jquery-and-ajax-tylershipley20230216231.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mis-421-assignment-2-jquery-and-ajax-TylerShipley20230216231</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$mis-421-assignment-2-jquery-and-ajax-TylerShipley20230216231</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>